# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
ENV/

# Django / SQLite
*.sqlite3
/db.sqlite3
/staticfiles/
/media/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
